<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="PalVerify"
    Manufacturer="Palworld 3 Mien"
    Version="$(var.Version)"
    UpgradeCode="04E90B75-B40F-4F61-B7E4-F351DAFF0EB3"
    Scope="perUser"
    Language="1033"
    Codepage="65001">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of PalVerify is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="PalVerify">
          <Component
            Id="LauncherComponent"
            Guid="*">
            <File
              Id="LauncherFile"
              Source="$(var.SourceRoot)\Pal3Mien.exe"
              KeyPath="yes" />
          </Component>
          <Component
            Id="ReadmeComponent"
            Guid="*">
            <File
              Id="ReadmeFile"
              Source="$(var.SourceRoot)\README.txt"
              KeyPath="yes" />
          </Component>
          <Component
            Id="HashManifestComponent"
            Guid="*">
            <File
              Id="HashManifestFile"
              Source="$(var.SourceRoot)\SHA256SUMS.txt"
              KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="PalVerify">
        <Component
          Id="StartMenuShortcutComponent"
          Guid="*">
          <Shortcut
            Id="StartMenuShortcut"
            Name="Palworld 3 Mien"
            Description="Install or update the PalVerify Palworld client mod"
            Target="[INSTALLFOLDER]Pal3Mien.exe"
            WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder
            Id="RemoveApplicationProgramsFolder"
            On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\Palworld3Mien\PalVerify"
            Name="StartMenuShortcut"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="PalVerify" Level="1">
      <ComponentRef Id="LauncherComponent" />
      <ComponentRef Id="ReadmeComponent" />
      <ComponentRef Id="HashManifestComponent" />
      <ComponentRef Id="StartMenuShortcutComponent" />
    </Feature>
  </Package>
</Wix>
