packaging/Info.json binary
packaging/client/README.md binary
packaging/client/enabled.txt binary
packaging/client/Scripts/config.json binary
packaging/client/Scripts/main.lua binary
third_party/UE4SSExperimentalPW/** binary
